DATABASE_URL=postgresql://bookstore:bookstore@localhost:5432/bookstore
PAYMENT_API_URL=https://absolutely-non-existing.fake/v666
PAYMENT_API_KEY=sk_test_changeme
EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=1025
EMAIL_FROM=shop@bookstore.local
